<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="icon" href="../instagram.ico" />
    <title>Instagram clone</title>
</head>
<body>
<div id="main">
    <div class="fof">
            <h1>Sorry, this page isn't </h1><br>
            <h1>avaiable.</h1>
            <p>This link you followed may be</p>
            <p>broken, or the page may have</p>
            <p>been removed</p>
    </div>
</div>
</body>
</html>